* {
	-fx-font: 14 narrow;
	-fx-base: rgb(64, 128, 128);
}

.tab {
	-fx-padding: 5 5 5 5;
}

.tab:selected .focus-indicator{
	-fx-border-color: transparent;
}

.label {
	-fx-font-weight: 400;
	-fx-alignment: center;
}

.vbox {
	-fx-background-color: rgb(192, 192, 192);
}

.menu-item, .context-menu {
	-fx-background-color: rgb(64, 128, 128);
;
}

.button {
	-fx-background-radius: 20;
}

#btAnadirAula {
	-fx-font: 14 "arial";
	-fx-base: rgb(0, 255, 0);
}
#btBorrarAula {
	-fx-font: 14 "arial";
	-fx-base: #dc143c;
}
#btAnadirReserva,#btAceptar{
	-fx-font: 14 "arial";
	-fx-base: rgb(0, 255, 0);
}
#btBorrarReserva,#btCancelar {
	-fx-font: 14 "arial";
	-fx-base: #dc143c;
}
#btAnadirProfesor {
	-fx-font: 14 "arial";
	-fx-base: rgb(0, 255, 0);
}
#btBorrarProfesor {
	-fx-font: 14 "arial";
	-fx-base: #dc143c;
}